section.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
}

.about .image img {
    width: 100%;
}

.about .content h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.about .content p {
    color: var(--grey);
    font-size: 16px;
    width: 90%;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    section.about {
        grid-template-columns: 1fr;
        gap: 3rem 0;
    }

    .about .image {
        width: 90%;
    }

    .about.about-2 .image {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .about .content h3 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .about .content p {
        width: 100%;
        margin-bottom: 2rem;
    }
}