.app {
    background-color: var(--yellow);
    margin: 10rem 9%;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    padding: 14rem 0;
}

.app .image {
    position: absolute;
    left: 15%;
}

.app .image img {
    width: 100%;
}

.app .content {
    position: absolute;
    right: 5%;
    width: 45%;
}

section.app .content h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

section.app .content p {
    margin-bottom: 3rem;
    font-size: 16px;
}

section.app .content .links img {
    margin-right: 3rem;
}

@media (max-width: 1200px) {
    section.app .image {
        max-width: 20rem;
    }
}

@media (max-width: 1022px) {
    .app {
        padding: 13rem 0;
    }

    section.app .image {
        max-width: 14rem;
        left: 5%;
    }

    section.app .content {
        width: 50%;
    }

    section.app .content h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    section.app .content p {
        margin-bottom: 1rem;
    }

    section.app .content .links img {
        margin-right: 10px;
    }

}

@media (max-width: 768px) {
    section.app .image {
        display: none;
    }

    section.app {
        grid-template-columns: 1fr;
        padding: 20rem 0;
        margin: 5rem 9%;
    }

    section.app .content {
        width: 85%;
        left: 50%;
        transform: translateX(-50%);
    }

    section.app .content h3 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    section.app .content .links img {
        width: 8rem;
        margin-right: 10px;
    }
}